# Master Task for installing and configuring MariaDB, Apache & WORDPRESS
- name: Fail if mysql_root_password is not set
  fail:
    msg: "mysql_root_password is not set. Please set the MYSQL_ROOT_PASSWORD environment variable."
  when: mysql_root_password | length == 0
  tags: always

- name: Fail if wordpress_dbpass is not set
  fail:
    msg: "wordpress_dbpass is not set. Please set the WORDPRESS_DB_PASSWORD environment variable."
  when: wordpress_dbpass | length == 0
  tags: always

- name: Installing epel-release and yum-utils to download updated version of PHP
  yum: pkg={{ item }} state=present
  with_items:
   - epel-release
   - yum-utils
   - http://rpms.remirepo.net/enterprise/remi-release-7.rpm
  tags: php
- name: enabling the PHP 7.3 Remi repository
  command: yum-config-manager --enable remi-php73 -y
  tags: php
- name: Installing PHP and other pkgs
  yum: pkg={{ item }}  state=present
  with_items:
   - php
   - php-common
   - php-mysql
   - php-gd
   - php-xml
   - php-mbstring
   - php-mcrypt
   - php-xmlrpc
   - unzip
   - wget
  tags: php
- name: Installing and Configuring MariaDB and MariaDB-CLient For WordBress
  include_tasks: database.yml
  tags: database
- name : Installing and configuring httpd server for WordBress
  include_tasks: webserver.yml
  tags: webserver
- name: Downloading and configuring WORDPRESS 
  include_tasks: wordpress.yml
  tags: wordpress
